@using ITtools_clone.Models;
@using ITtools_clone.Helpers;
@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/toolcard.css" />
}

<div class="container mt-4">
    <div class="favourite-tools-container">
        <span class="fw-bold title-tools ms-1">Your favorite tools</span>
        <div class="row mt-2" id="favourite-tools-list">
            @foreach (var tool in Model.FavouriteTools)
            {
                @await Component.InvokeAsync("ToolCard", new { tool = tool, isUserFavourite = true })
            }
        </div>
        <div id="no-favourite-message" class="text-muted ms-2 mt-2 @(Model.FavouriteTools.Count == 0 ? "" : "d-none")">
            You have no favorite tools yet. Click the heart icon on any tool to add it to your favorites!
        </div>
    </div>
    <div class="tools-container mt-4">
        <span class="fw-bold title-tools ms-1">All the tools</span>
        <div class="row mt-2">
            @foreach (var tool in Model.AllTools)
            {
                var isFav = Model.FavouriteTools.Any(f => f.tid == tool.tid);
                @await Component.InvokeAsync("ToolCard", new { tool = tool, isUserFavourite = isFav })
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/toolcard.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl)
            })
        });
    </script>
}