@model Dictionary<string, List<string>>
@using ITtools_clone.Helpers

@foreach (var category in Model)
{
    var categoryId = category.Key.Replace(" ", "") + "Menu";

        <li class="nav-item">
            <a class="nav-link text-uppercase text-muted small" data-bs-toggle="collapse" href="#@categoryId" role="button">
                <i id="toggle-icon" class="bi bi-chevron-right"></i> @category.Key
            </a>
            <div class="collapse" id="@categoryId">
                <ul class="nav flex-column ms-3">
                @foreach (var plugin in category.Value)
                {
                            <li class="nav-item">
                                <a class="nav-link fw-bold" href="/@Utils.Slugify(plugin)">
                                    @plugin
                                </a>
                            </li>
                }
                </ul>
            </div>
        </li>
}